@media screen\0{
  #logoIE{
    height: 50px;
  }
  #logoIEInsta {
    height: 40px;
  }
}

#footer {
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.8);
}

#footerContent {
  padding: 0 0 0 0;
  font-size: 18px;
  border: 1px solid green;
}

#footerTableHeaderRow td a {
  font-size: 22px;
  font-weight: 900;
  color: #448522;
  text-decoration: none;
}

.footerTable tr td {
  padding: 5px 50px 5px 5px;
}

#footerContentWide{
    float: right;
    margin-right: 20px;
    margin-top: 22px;
}

#footerTableHeaderRow td a:hover {
  text-decoration: underline;
}
.footerTable tr td a:hover {
  text-decoration: underline;
}

.footerTableContentRow td a {
  text-decoration: none;
  color: black;
}

/* Liten footer css */
#footerContentNarrow {
  display: none;
}

#ukIcon{
    border-radius: 2px;
}

#footerContentNarrow table tr td img {
  width: 125px;
}

.footerTableHeaderRowNarrow td {
  width: 100%;
}

.footerTableHeaderRowNarrow td .aHeader {
  font-size: 32px;
  font-weight: 900;
  color: #448522;
  text-decoration: none;
}
.footerTableHeaderRowNarrow td .aHeaderSmall {
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-decoration: none;
}
.footerTable tr .td1 {
  width: auto;
  padding: 20px 5px 5px 5px;
  }
.flaggUnder1200{
  margin-top: 20px;
}


/* Responsive css */
@media only screen and (max-width: 1200px) {
  #footer {
    width: 100%;
  }
  #footerSomVisesOver1200{
    display: none;
  }
  #footerContentNarrow {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .footerTable{
    margin: 0 auto;
    width: auto;
  }
  .footerTable tr td {
  width: auto;
  padding: 5px 5px 5px 5px;
  }
}