html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#footerContent {
  padding: 30px 200px 30px 200px;
  font-size: 18px;
}

#footerTableHeaderRow td a {
  font-size: 22px;
  font-weight: 900;
  color: #8EC372;
  text-decoration: none;
}

#footerTable tr td {
  padding: 5px 50px 5px 5px;
}

.footerTableContentRow td a {
  text-decoration: none;
  color: black;
}