html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  line-height:  1.5;
    
}

#navbar {
  position: fixed;
  width: 100vw;
  z-index: 999;
  border-bottom: 1px solid rgba(0,0,0,0.4);
     background-color: white;
}

#navbar ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    width: 100%;

}
#navbar ul li {
    display: inline-block;
    list-style-type: none;
    float: right;
}
#navbar ul li a {
    display: block;
    color: black;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#navbar ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #448522;
    color: #448522;
}

#backup-nav {
  display: none;
  padding-top: 60px;
    position: fixed;
  width: 100vw;
  z-index: 999;
  border-bottom: 1px solid rgba(0,0,0,0.4);
     background-color: white;
}

#backup-nav ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
#backup-nav ul li {
    display: inline-block;
    list-style-type: none;
}
#backup-nav ul li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#backup-nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #448522;
    color: #448522;
}


#PictureToNavigation {
  display: none;
  position: fixed;
  width: 100vw;
  background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    z-index: 9999;
}


#PictureToNavigation img{
    width : 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar img{
    width: 25px;
}

#sideBarMenu {
  visibility: visible;
}

#logoTing {
  float: left !important;
}

#logoTing img {
width: 180px;
}

#logoLink{
  margin: 5px 16px 0 16px;
}

#FlaggForSprak {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
}

.main {
    overflow-x: hidden;
}
#solutionPageContent{
  margin-top: -50px;
}
#sourcesPageContent{
  margin-top: -50px;
}

.parallax {
  background: url('http://student.cs.hioa.no/~s346175/finalproject/images/bakgrundHomePage.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  text-align: center;
  padding: 15rem 1rem;
  font-size: 4em;
  color: white;
  background: rgba(29, 25, 29, 0.37);
  margin-top: -0.83em;
}

.arrow{
  color: white;
  text-align: center;
  position: absolute;
  top: 650px;
  left: 50%;
  margin-left:-1.5rem;
  width: 40px;
  height: 40px;
}

.arrow i {
    text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-size: 3rem !important;
}

.bounce {
  animation: bounce 2s infinite;
}

.howToDownload {

}

.active {
    text-decoration: underline;
    text-decoration-color: #448522;
}

.hiddenNav {
  display: none !important;
}

.parentTekstPrototype{
    display: block;
    margin: 0 auto 30px auto;
    width: 250px;
    border-bottom: 1px solid #448522;
}

.tekstPrototype{
    text-align: center;
    font-size: 6vh;
    color: #448522;
    margin-bottom: 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

.shortProblemDefinition {
    margin-top: -60px;
    background-color: #F2F2F2;
}

.shortProblem-inner {
    width: 88vw;
    margin-left: 6vw;
}

.seemore-line {
    position: absolute;
    margin-top: 20px;
    margin-left: 40vw;
    width: 20vw;
    height: 3px;
    background-color: rgba(0,0,0,0.4);
}

.grid-container {
  display: grid;
  grid-template-columns:  repeat(3, auto);
  padding-bottom: 100px;
}

.grid-item {
  padding: 20px;
}

#sourcesBox {
    width: 100%;
    height: 720px;
    background-color: #F0F0F0;
    display: inline-block;
}

#sourcesLinks {
    margin-left:32vw;
    font-size: 1.2rem;
}
.tooltip {
  position: relative;
  display: inline-block;
    font-size: 20px;
    margin: 14px 16px;
    cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  height: 120px;    
  background-color: white;
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
    cursor: default;
    position: relative;

  /* Position the tooltip */
  position: absolute;
    margin-top: 26px;
    margin-left: -250px;
    z-index: 9999999999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover{
        text-decoration: underline;
        text-decoration-color: #448522;
        color: #448522;
    }
#sourcesLinks a {
    color: black;
}

#sourcesLinks a:hover {
    text-decoration-color: #448522;
    font-weight: 600;
}

#sourcesLinks a:visited {
    color: #448522;
}

#sourcesBox h1 {
    text-align: center;
}

#AboutUsBox {
  background-color: white;
    border-radius: 20px;
    padding: 25px;
    display: inline-block;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    margin-left: 38vw;
    
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}

#AboutUsBox h1 {
    font-size: 1.1erm;
}

.problemItem1 {
    padding: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.problemItem2 {
  grid-column-start: 2; 
  grid-column-end: 4;  
  font-size: 1.2rem;
  font-weight: 200;
  color: rgba(0,0,0,0.8); 

}

.circle-chart__circle {
  animation: circle-chart-fill 1s reverse;
  transform: rotate(-90deg);
  transform-origin: center;
}

@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}

.problemItem2 #greenhouse-span {
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    font-size: 1.3rem;

}

.problemItem1 img {
    width: 300px;
    margin: 0 auto;
}

.readMoreProblem {
    position: absolute;
    margin-top: -20px;
    border-radius: 8px;
    background-color: white;
    padding: 10px 60px 10px 60px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    margin-left: 50%;
    transform: translate(-50%);
    border: 2px solid #448522;
    cursor: pointer;
    transition: .1s ease-in;
}

.readMoreProblem:hover {
  background-color: #F2F2F2;
}

.howTo {
    background-color: white;
}

.parentProtopicsDiv {
    text-align: center;
}

.protopicsDiv {
    display: inline-block;
}

.protopics {
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

.parentTextProtopicsDiv {
    text-align: center;
}

.textProtopicsDiv {
    display: inline-block;
    text-align: center;
    margin: 0 25px 0 25px;
    vertical-align: top;
    width: 300px;
}

.arrowImg {
    display: inline-block;
    vertical-align: 222px;
      opacity: 0.8;
}

.protoArrow {
    width: 70px;
}

.headline {
    font-size: 4vh ;
    color: rgba(0,0,0,0.8);
    margin: 1vh auto auto auto;
    font-weight: bold;
}

#headerText1{
    color:#212121; 
    margin-top: 0;
}

.Numberstep {
font-size: 3rem;
color: rgba(0,0,0,0.5);
}

#content-inner {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,0.9);
    padding-top: 30px;
}

#problemImgFrame {
  margin-top: 40px;
  height: 400px;
  width: 100%;
  border-radius: 8px;
  background-size: cover;
    background-position: center;
    background-image: url('../images/agriculture.jpg');
}

#conclutionProblem {
  padding-top: 30px;
  padding-bottom: 60px;
  width: 100vw;
  margin-left: -15vw;
  background-color: #f9f9f9;
}

#conclutionProblem h3 {
  padding-left: 20px;
  padding-right: 20px;
}

#content-inner p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.theProblemHeader {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 5px;
}

#theProblemSub {
font-size: 2rem;
}

.parentProtoIphone {
    visibility: hidden;
    position: absolute;
}

.protopics1 {
    width: 1px;
}

.arrowDown {
    width: 1px;
}

.videoPrototype {
    width: 50vw;
    display: block;
    margin: 0 auto;
    outline: 0;
}

#foods-grid-container {
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

#footerTd{
    width: 240px;
}

#foods-grid {
    display: inline-grid;
    grid-template-columns:  repeat(4, auto);
    padding-top: 70px;
}

.food-item {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food1 {
  grid-column-start: 1; 
  grid-column-end: 5;
  text-align: center;
    align-items: center;
  justify-content: center;
}

.whyText{
    color:#448522; 
    margin-top: 0;
}

.gri
.food1-inner {
  width: 500px;
  margin-left: calc(50% - 250px);
  font-size: 1.3rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: 60vw auto;
    padding: 0px;
}

.gridTekst {
    font-size: 25px;
}

.gridContainer img {
    height: auto;
    width: 40vw;    
}

.hProblem {
    margin-left: 20px;
}
.overstProblem{
  color: #111;
  margin-top: 0; margin-bottom: 5px; font-size: 2rem !important; padding-bottom: 20px;
}

.solutionGrid {
  display: inline-grid;
  grid-template-columns:  repeat(2, auto);
  grid-column-gap: 50px;
}

.solutionItem1 {
  grid-column-start: 1 !important; 
  grid-column-end: 2 !important;
      align-items: center;
  justify-content: center;
  padding: 0;
}

.solutionItem2 {
background-color: white;
  grid-column-start: 2 !important; 
  grid-column-end: 3 !important;
  padding: 30px !important;
  border-radius: 6px;
      align-items: center;
  justify-content: center;
  width: 20vw;
}



#problemSurveyparagraphs p{
    padding: 10px 10px 10px 0;
}

#konklusjonProblemet p {
    padding: 10px;
}

#solutionSurvey img {
    width: 100vw;
    padding-top: 100px;
    background-color: white;
}

.protoDesktop {
   background-color: #F2F2F2;
   padding-top: 40px;
   padding-bottom: 80px;
}


.protoGrid {
  display: grid;
  grid-template-columns:  repeat(5, auto);
  align-items: center;
  justify-content: center;
  padding-top: 0;
}
.flaggForSpråkEngelsk{
  border-bottom: black solid 1px;
}
.NorskFlaggFooter{
  margin-right: 20px;
}

.protoItem {
  padding: 4px !important;

}
@media only screen and (max-width: 1215px) {
    #sourcesLinks {
    margin-left:30vw;
    }
}
@media only screen and (max-width: 1100px) {
    #sourcesLinks{
    margin-left:26vw;
    }
    .protopics{
        width: 150px;
    }
    .textProtopics{
        width: 166px;
        font-size: 15px;
        margin: 10px auto auto auto;
    }
    .textProtopicsDiv{
        margin: 0 37px 0 37px;
        width: 180px;
    }
    .textProtopicsDiv .headline{
        font-size: 3.5vh;
    }
    .arrowImg{
        vertical-align: 122px;
    }
    .numbers{
        width: 150px;
        font-size: 5vh;
    }
}
@media only screen and (max-width: 1000px) {
    #AboutBox p{
    margin-left: 30vw;
    width: 500px;
    display: inline-block;
    margin-top: -1px;
    }
}
@media only screen and (max-width: 950px){
    #sourcesLinks{
    margin-left:19vw;
    }
    #sourcesBox{
    width: 100%;
    height: 750px;
    background-color: #F0F0F0;
    display: inline-block;
    }
}
@media only screen and (max-width: 900px) {
    #sourcesLinks{
    margin-left:17vw;
    }

}
@media only screen and (max-width: 850px) {
    .solutionGrid {
        display: inline-grid;
        grid-template-columns: repeat(1, auto) !important;
        padding-bottom: 0;
        padding-top: 0;
    }

    #AboutBox p{
    margin-left: 25vw;
    width: 500px;
    display: inline-block;
    margin-top: -1px;
        
}  
    
}
  @media only screen and (max-width:890px){

    .protopics1 {
        width: 150px;
        margin: auto;
    }
    .textProtopicsDiv1 {
        text-align: center;
        margin: auto;
        vertical-align: top;
        width: 100px;
    }
    .arrowDown {
        display: block;
        margin: 20px auto auto auto;
        width: 50px;
    }
    .headline1 {
        display: block;
        font-size: 20px;
        margin: auto;
        font-weight: bold;
        width: 120px;
        color: rgba(0,0,0,0.8);
    }
    .protoIphone {
        height: 450px;
    }
    .textProtopicsDiv1 {
        margin: 0 auto;
        width: 200px;
    }
}

.howToDownload {
    width: 88vw;
    margin-left: 6vw;
}

.videoItem1 {
  grid-column-start: 2; 
  grid-column-end: 3;  
    padding: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
}

.videoItem1 video {
    outline: none;
    border: transparent;
}

.videoItem1 img {
    width: 250px;
}

.videoItem2 { 
  font-weight: 200;
  color: rgba(0,0,0,0.8);
  padding-left: 30px;
  padding-right: 20%;
  line-height:  1.7;
    font-size: 1.7rem;
}

.videoContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.SourceLink {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-color: rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.8);
}

#reallyEasy{
    text-align: center;
    font-size: 4rem;
    color: rgba(0,0,0,0.8);
}

#introMyImpact{
    color:#212121; 
    margin-top: 0; 
    font-size: 3rem;
}

.SourceLink:hover {
  text-decoration-color: #448522;
  color: #448522;
}

.SourceLink:visited {
  text-decoration-color: rgba(0,0,0,0.8) !important;
}

.phoneArrow {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.phoneArrow {
  width: 48px !important;
}

.readMoreSolution {
  padding-left: 18%;
  padding-right: 18%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1500px){
    #FlaggForSprak {
    position: absolute;
    }
    @media only screen and (max-width: 880px){

#backup-nav {
  display: block;
}

#hamburger {
  display: none;
    font-size:30px;
    cursor:pointer"
}

#navbar {
  display: none !important;
}

#PictureToNavigation {
  display: block;
    padding-top: 5px; 
    padding-bottom: 0;
}

#PictureToNavigation img {
  display: block;
}

#survey-grid{
  grid-template-columns: repeat(1, auto);

}      

.surveyChart {
    grid-column-start: 1;
    grid-column-end: 2;
}

.surveyChart h3 {
text-align: center !important;
}

.isThereANeed {
   grid-column-start: 1 !important;
    grid-column-end: 2 !important; 
}

#foods-grid {
      grid-template-columns: repeat(2, auto);
}

.food1 {
  grid-column-start: 1;
    grid-column-end: 3;
}

.videoItem1 {
  grid-column-start: 1; 
  grid-column-end: 1;  
    padding: 20px;
    display: flex;
  align-items: center;
  justify-content: center;
}      

.videoItem2 {
  padding-right: 30px;
}
.protoItem img {
  width: 70%;
}
.protoArrow {
  display: none;
}
.phoneArrow {
  display: inline-block;
}
    #FlaggForSprak {
    position: absolute;
    }
    .grid-container {
  grid-template-columns:  repeat(1, auto);
    }
    .problemItem2 {
      grid-column-start: 1; 
      grid-column-end: 1;  
    } 
    .shortProblemDefinition {
        width: 100vw;
        margin-left: 0;
    }
    .problemItem1{
    visibility: hidden;
    height: 0;
    padding: 0;
    }

}
    @media only screen and (max-width: 790px){
        #sourcesLinks{
    margin-left:15vw;
    }
    }
    @media only screen and (max-width: 700px) {
    #AboutBox p{
    margin-left: 20vw;
    width: 500px;
    display: inline-block;
    margin-top: -1px;
        
}  
    #sourcesLinks{
    margin-left:15vw;
    font-size: 15px;
    }
    
}
    @media only screen and (max-width: 650px){
     #sourcesLinks{
       margin-left:10vw;
    }
    }
@media only screen and (max-width: 640px) {
    #AboutBox p{
    margin-left: 5vw;
    width: 500px;
    display: inline-block;
    margin-top: -1px;
        
}  
    
}

@media only screen and (max-width: 560px){
  #foods-grid {
      grid-template-columns: repeat(1, auto);
}

.food1 {
  grid-column-start: 1;
    grid-column-end: 2;
}

     #AboutBox p{
    margin-left: 5vw;
    width: 450px;
    display: inline-block;
    margin-top: -1px;
         font-size: 14.8px;
        
}
    #sourcesLinks{
       margin-left:5vw;
    }
    .parallax h1 {
      font-size: 3em;
    }

   
}
@media only screen and (max-width: 469px){
    #sourcesBox{
    width: 100%;
    height: 760px;
    background-color: #F0F0F0;
    display: inline-block;
}

 
}
    @media only screen and (max-width: 395px){
    #sourcesBox{
    width: 100%;
    height: 800px;
    background-color: #F0F0F0;
    display: inline-block;
}

 
}
     @media only screen and (max-width: 395px){
    #sourcesBox{
    width: 100%;
    height: 830px;
    background-color: #F0F0F0;
    display: inline-block;
}
}
     @media only screen and (max-width: 380px){
    #sourcesBox{
    width: 100%;
    height: 920px;
    background-color: #F0F0F0;
    display: inline-block;
}
}




