html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  line-height:  1.5;
}

#problemPageContent {
	background-color: rgb(240,240,240);
	width: 100%;
    overflow-x:hidden;
}

#problemDescriptionText {
	margin: 25px;
	padding: 25px;
	background-color: white;
}

#footer {
	border-top: 5px solid #F2F2F2;
}

#solutionPageContent{
    border-top: 5px solid #F2F2F2;
	background-color: rgb(240,240,240);
	width: 100%;
}

#solutionDescriptionText{
	padding: 25px;
	background-color: #F2F2F2;
    width: 60vw;
    display: inline-block;
}

#solutionSurvey img{
	margin-top: 30px;
    width: 100%;
}

.problemLink {
    position: absolute;
    margin-top: 7px;
    border-radius: 8px;
    background-color: white;
    padding: 10px 60px 10px 60px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    margin-left: 50%;
    transform: translate(-50%);
    border: 2px solid #36A56B;
    cursor: pointer;
    transition: .1s ease-in;
}

.problemLink:hover {
  background-color: #F2F2F2;
}

#privacyIssues{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    width: 20vw;
    display: inline-block;
    float: right;
    margin-top: 70px;
    margin-right: 3vw;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.4);
}

#solutionDescription{
    justify-content: space-between;
}